.measure {
  margin: 0 auto;
  max-width: $measure-width;
  display: flex;
  flex-direction: row;

  .measure-body{
    display: flex;
    flex-direction: column;
  }

}

.ad{
  position: sticky;
  top: 200px;
  float: right;
  align-self: flex-start;
}